Flask==1.0.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.3.2
psycopg2-binary==2.7.4
Flask-Testing==0.6.2
gunicorn==19.7.1
coverage==4.4.1
flake8===3.4.1
flask-cors==3.0.6
flask-migrate==2.1.1
flask-bcrypt==0.7.1
pyjwt==1.5.3
flask-debugtoolbar==0.10.1
pyflakes==2.0.0
pylint==2.1.1
pycodestyle==2.3.1