body {
  margin: 0;
  padding: 0;
}

#app-maindiv {
  padding: 2em;
}

#divider {
  margin: 0.5em 0em 2em 0em;
}

#tabs {
  margin-bottom: 2em;
  width: 95%;
}

#tasks-card {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 0.5em;
  padding: 1em;
  size: 1em;
  margin-bottom: 0.5em;
}

#tabs-container {
  width: 100%;
  display:flex;
}

#add-task-button-conatiner {
  width: 10%;
  position: relative;
}

#summary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* flex-direction: row;
  justify-content: left; */
}

#unlabeled-issues {
  /* float: right;
  flex: 1; */
}

#bugs {
  /* float: left;
  flex: 1; */
}

#a.link:hover {
  color: rgb(98, 154, 218);;
}