body {
  margin: 0;
  padding: 0;
}

#app-maindiv {
  padding: 2em;
}

#divider {
  margin: 0.5em 0em 2em 0em;
}

#tabs {
  margin-bottom: 2em;
  width: 95%;
}

#tasks-card {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 0.5em;
  padding: 1em;
  size: 1em;
  margin-bottom: 0.5em;
}

#tabs-container {
  width: 100%;
  display:flex;
}

#add-task-button-conatiner {
  width: 10%;
  position: relative;
}

#unlabeled-issues {
  float: left;
}

#bugs {
  float: right;
}